.separatorInformationContainer {
    width: 100%;
    height: auto;
    background-color: #4a90e2;
}

.containerBack {
    padding: 2% 8%;
}

.titleSeparator {
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}