img{
    border:0;
}

.headerContainer {
    position: relative;
}

.navContainer{
    display:inline-block;
}

.pageLink{
    margin:0 10px;
    color:gray;
    text-transform: uppercase;
    text-decoration:none;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

.pageLink:hover {
    padding-bottom:2px;
    border-bottom:4px solid #4a90e2;
}

.navStyle{
    display: block;
    width:100%;
    height: 100px;
    padding: 2%;
    border-bottom: solid 1px lightgray;
}

.logoSm {
    width: 58px;
    height: 79px;
    padding:3%;
}

.logoHeader {
    display: inline-block;
    float: left;
    width:10%;
}

.navLinkContainer {
    display: inline-block;
    width:90%;
    margin-top: 2em;
}

.lineTop {
    position: relative;
    height: 5px;
    background: -webkit-linear-gradient(left, #ffc507, #61dafb , #4a90e2 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffc507, #61dafb, #4a90e2 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffc507, #61dafb, #4a90e2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffc507, #61dafb , #4a90e2); /* Standard syntax (must be last) */
    top:0;
    left:0;
}


