img{
    border:0;
}
.navContainer{
    display:inline-block;
}

.pageLink{
    margin:0 10px;
    color:black;
    text-transform: uppercase;
    text-decoration:none;
}

.pageLink:hover{
    padding-bottom:2px;
    border-bottom:4px solid black;
}

.navLinkContainer{
    position: absolute;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    margin-left: 100px;
}

.logoSm{
    background-image: url(https://chilli.be/uploads/images/LOGOS/vrijmoed_ontwerp_logo.png);
    background-position-x: -310px;
    background-position-y: -192px;
    background-repeat: no-repeat;
    width: 161px;
    height: 147px;
    margin: -35px;
    padding: 0;
    transform: scale(0.5);
}